<h1>Results for Bin [% g.genome_id %]</h1>

<p><a href="https://docs.patricbrc.org//tutorial/metagenomic_binning/metagenomic_output.html#the-genome-report">Tutorial for this page.</a></p>

<table class="p3basic">
<tr>
<th>Genome ID</th><td><a target="_blank" href="[% g.genome_url %]">[% g.genome_id %]</a></td>
</tr><tr>
<th>Genome Name</th><td>[% g.genome_name %]</td>
[% IF g.refs %]
</tr><tr>
<th>Reference Genomes</th>
<td>
[% FOR r IN g.refs %]
<a target="_blank" href="[% r.url %]">[% r.genome %]</a><br />
[% END %]
</td>
[% END %]
</tr><tr>
<th>Coarse consistency (%)</th><td>[% g.scikit_coarse %]</td>
</tr><tr>
<th>Fine consistency (%)</th><td>[% g.scikit_fine %]</td>
</tr><tr>
<th>CheckM completeness (%)</th><td>[% g.checkm_completeness %]</td>
</tr><tr>
<th>CheckM contamination (%)</th><td>[% g.checkm_contamination %]</td>
</tr><tr>
<th>Contig count</th><td>[% g.contigs %]</td>
</tr><tr>
<th>DNA size (bp)</th><td>[% g.dna_bp %]</td>
</tr><tr>
<th>Contigs N50 (bp)</th><td>[% g.n50 %]</td>
[% IF g.coverage %]
</tr><tr>
<th>Mean Coverage</th><td>[% g.coverage %]</td>
[% END %]
</tr>
</table>
<h2>Potentially Problematic Roles</h2>

<h3>Potentially problematic roles in [% g.genome_id %]</h3>

<table class='p3basic'>
<tr>
<th>Role</th>
<th>Predicted<br>count</th>
<th>Annotated<br>count</th>
<th>Feature link</th>
</tr>
[% FOR r IN p %]
<tr>
<td style=''>[% r.role %]</td>
<td>[% r.predicted %]</td>
<td>[% r.actual %]</td>
[% IF r.n_fids > 0 -%]
<td><a target="_blank" href="[% r.fid_url %]">[% r.n_fids %] feature[% IF r.n_fids > 1 %]s[% END %]</a></td>
[% ELSE -%]
<td>[% r.n_fids %] features</td>
[% END -%]
</tr>
[% END -%]
</table>

<h3>Potentially Problematic Roles by Contig</h3>

<table class='p3basic'>
<tr>
<th>Contig Name</th>
<th>Length (bp)</th>
<th>Feature link</th>
</tr>
[% FOR d IN c %]
<tr>
<td style=''>[% d.name %]</td>
<td>[% d.len %]</td>
<td><a target="_blank" href="[% d.fid_url %]">[% d.n_fids %] feature[% IF d.n_fids > 1 %]s[% END %]</a></td>
</tr>
[% END -%]
</table>
